# Dependencies
node_modules/
vendor/bundle/

# Env
.env
.env.local
.env.production
backend/.env

# Rails
backend/log/*
backend/tmp/*
backend/storage/*
!backend/log/.keep
!backend/tmp/.keep

# Build
frontend/dist/
backend/public/assets

# OS
.DS_Store

# IDE
.idea/
.vscode/

# local env backups
.env.bak
.env.*.bak
